* {
  padding: 0;
  margin: 0;
}

#allList {
	margin-left:200px;
}

#detailPage {
	margin-left:300px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  width: 140px;
  height: 100vh;
  position: fixed;
}
#addgroup3 {
  background-color: lightgray;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 7px;
}

#addgroup3:hover {
  background-color: #2c3e50;
  color: white;
}
.groupButton {
  background-color: transparent;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
button i {
  font-size: 30px;
}
.group {
  display: flex;
  flex-direction: column;
}
.group span {
  margin-top: 10px;
  padding-left: 5px;
  text-align: center;
}
.group i {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 30px;
}
.user i {
font-size: 50px;
  position: absolute;
  bottom: 50px;
  left: 40px;
  cursor: pointer;
  background-color: white;
  width: 65px;
  height: 60px;
  padding-top: 10px;
  padding-left: 11px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.date {
  padding-left: 10px;
  border: 3px solid grey;
  position: absolute;
  width: 600px;
  height: 70px;
  left: 200px;
  top: 40px;
  border-radius: 10px;
}
.date i {
  font-size: 40px;
  margin: 10px;
}
.date input {
  margin-top: 3px;
  width: 575px;
  height: 40px;
  font-size: 30px;
  border: none;
  outline: none;
  background: url();
}
#calendar {
  position: absolute;
  width: 110vh;
  height: 80vh;
  top: 120px;
  left: 200px;
  padding-right: 100px;
  z-index: -1;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalcontent {
  position: relative;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #999;
  width: 400px;
  height: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 7px;
}

.modal input {
  width: 100%;
  height: 45px;
  font-size: 30px;
  padding: 15px;
  border: none;
  background-color: lightgray;
  color: white;
}

.modal hr {
  margin-top: 5px;
}

.modal p {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 25px;
  font-size: 1.1rem;
}

.modal h3 {
  letter-spacing: -1px;
  font-size: 0.9rem;
  font-weight: bold;
}

.modal .mid {
  margin-top: 40px;
}

.modal .add2 {
  margin-top: 40px;
  margin-left: 255px;
  width: 95px;
  height: 38px;
  background-color: lightgray;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal2 #attend {
  width: 110px;
  margin-left: 245px;
}

#modal2 #inputatt::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.modalgroup {
  position: absolute;
  background-color: lightgrey;
  width: 280px;
  height: 100px;
  margin-top: 110px;
  margin-left: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.addgroup2 {
  display: flex;
  background-color: transparent;
  width: 280px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: black;
  outline: none;
  z-index: 10;
}

.addgroup2:hover {
  background-color: whitesmoke;
  color: black;
  border: 0px solid transparent;
}

#groupmake:hover {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#grouppart:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.addgroup2 i {
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  margin: 11px;
  padding-top: 7px;
  font-size: 1.2rem;
  background-color: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.addgroup2 p {
  display: flex;
  font-size: 1.3rem;
  margin-top: 12px;
  font-weight: bold;
}

@media screen and (max-height: 800px) {
  .user i {
    display: none;
  }
}

.mymodal {
  position: absolute;
  background-color: white;
  border: #999;
  width: 300px;
  height: 250px;
  margin-top: 600px;
  margin-left: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
  z-index: 3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#logout {
  position: absolute;
  bottom: 10px;
  border: none;
  width: 100%;
  height: 30px;
  font-weight: bold;
      border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#logout:hover {
  background-color: #0b57d0;
  color: white;
  border: none;
    border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#logout2 {
  position: absolute;
  bottom: 10px;
  border: none;
  width: 100%;
  height: 30px;
  font-weight: bold;
      border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#logout2:hover {
  background-color: #0b57d0;
  color: white;
  border: none;
    border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#frm {
  margin-left: 200px;
}
#frm2 {
  margin-left: 1200px;
  height: 100vh;
}
#modalContent {
  position: relative;
  background-color: white;
  margin-top: 182px;
  margin-left: 1340px;
  border: 1px solid #999;
  width: 500px;
  height: 700px;
  border-radius: 10px;
}
.head-wrd {
  font-size: 40px;
  margin-left: 120px;
}
#X {
  font-size: 40px;
  color: black;
  margin-left: 90px;
  margin-bottom: 60px;
  cursor: pointer;
}

#X:hover {
  color: #999;
}
.mdl-header {
  display: flex;
  flex-direction: row;
  width: 498px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}
.section {
  display: flex;
  background-color: white;
  width: 498px;
  height: 100px;
  border: none;
  border-bottom: 1px solid black;
}
#one {
  margin-top: 100px;
}
#six {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-left: 410px;
  margin-top: 10px;
  cursor: pointer;
}
#modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#modalContent2 {
  z-index: 2;
  position: relative;
  background-color: white;
  margin-top: 182px;
  margin-left: 1340px;
  border: 1px solid #999;
  width: 500px;
  height: 700px;
  border-radius: 10px;
}
.head-wrd2 {
  font-size: 30px;
  margin-left: 150px;
}
#X2 {
  font-size: 40px;
  color: black;
  margin-left: 113px;
  margin-bottom: 60px;
  cursor: pointer;
}
#X2:hover {
  color: black;
}
.mdl-header2 {
  display: flex;
  flex-direction: row;
  width: 498px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}
.inpt-brder {
  border: 1px solid black;
  height: 80px;
  margin: 20px;
  border: none;
  border-bottom: 2px solid black;
}
#title {
  margin-top: 100px;
}
.submit {
  font-size: 40px;
  width: 498px;
  height: 98px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  border-top: 1px solid black;
}
.inpt-brder i {
  font-size: 30px;
  margin-top: 35px;
  margin-left: 10px;
}
.tripinfo {
  font-size: 30px;
  width: 370px;
  height: 50px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #999;
}

::placeholder {
  color: #999;
}

#bigModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
#modalContent3 {
  position: relative;
  background-color: white;
  margin-top: 182px;
  margin-left: 1340px;
  border: 1px solid #999;
  width: 500px;
  height: 700px;
  border-radius: 10px;
}
.head-wrd {
  font-size: 40px;
  margin-left: 120px;
}
#X {
  font-size: 40px;
  color: black;
  margin-left: 90px;
  margin-bottom: 60px;
}
.mdl-header {
  display: flex;
  flex-direction: row;
  width: 498px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}
.modsection {
  display: flex;
  background-color: white;
  width: 498px;
  height: 100px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 100px;
}
#one {
  margin-top: 100px;
}
#six {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-left: 410px;
  margin-top: 10px;
  cursor: pointer;
}
#detModal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#modalContent4 {
  z-index: 2;
  position: relative;
  background-color: white;
  margin-top: 182px;
  margin-left: 1340px;
  border: 1px solid #999;
  width: 500px;
  height: 700px;
  border-radius: 10px;
}
.head-wrd2 {
  font-size: 30px;
  margin-left: 150px;
}
#X2 {
  font-size: 40px;
  color: black;
  margin-left: 113px;
  margin-bottom: 60px;
  cursor: pointer;
}

#X2:hover {
	color: #999;
}
.mdl-header2 {
  display: flex;
  flex-direction: row;
  width: 498px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}
.inpt-brder {
  border: 1px solid black;
  height: 80px;
  margin: 20px;
  border: none;
  border-bottom: 2px solid black;
}
#title {
  margin-top: 100px;
}
.submit {
  font-size: 40px;
  width: 498px;
  height: 98px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  border-top: 1px solid black;
}
.inpt-brder i {
  font-size: 30px;
  margin-top: 35px;
  margin-left: 10px;
}
.tripinfo {
  font-size: 30px;
  width: 370px;
  height: 50px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #999;
}

::placeholder {
  color: #999;
}

#group i:hover {
  color: #999;
}

.modal .add2:hover {
  background-color: black;
  color: white;
}

#addMemo {
	height: 100px;
	width: 100%;
}

#addMemo h1 {
	background-color: yellow;
	color: skyblue;
	width:50px;
	height: 200px;
}

.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}


.groupButton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 38px;
    color: #fff;
    background-color: #999;
    margin-left: 12px;
    line-height: 1;
    border: none;
    cursor: pointer;
}

.groupButton:hover {
	background-color: lightgray;
}


#myHeader {
  background-color: #fca31d;
  width: 302px;
  height: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#myImg {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #fca31d;
  font-size: 50px;
  margin-left: 110px;
  margin-top: 30px;
  text-align: center;
  padding-top: 15px;
  padding-left: 7px;
  border: 6px solid black;
  border-radius: 50%;
}

#nameSection {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: absolute;
  margin-top: 140px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

#myId {
  padding-top: 15px;
  font-weight: 100;
  font-size: 1.1rem;
}
